@keyframes fade-up-aaa4b19e {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-aaa4b19e {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-aaa4b19e] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
  padding-bottom: 24px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-aaa4b19e] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-track, .items-list[data-v-aaa4b19e]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-aaa4b19e]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .filters[data-v-aaa4b19e] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white-500);
}
.items-list .filters .field[data-v-aaa4b19e] {
  flex: 1 1;
}
.items-list .items[data-v-aaa4b19e] {
  display: flex;
  margin: 0;
  padding: 100px 0 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-aaa4b19e] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.items-list .items li > span[data-v-aaa4b19e] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items-list .items li.active[data-v-aaa4b19e] {
  background: var(--light-20);
}
.items-list .items li.active > span[data-v-aaa4b19e] {
  font-weight: bold;
}
.items-list .items li[data-v-aaa4b19e]:hover {
  background: var(--light-10);
}
.items-list .items li:hover > span[data-v-aaa4b19e] {
  font-weight: bold;
}
.items-list .loader[data-v-aaa4b19e] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-aaa4b19e] {
  flex-shrink: 0;
}
.items-list .items li .dictionary-preview[data-v-aaa4b19e] {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
  font: var(--font-body-2);
  width: 100%;
}
.items-list .items li .dictionary-preview .wathermark[data-v-aaa4b19e],
.items-list .items li .dictionary-preview img[data-v-aaa4b19e] {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  flex-shrink: 0;
}
.items-list .items li .dictionary-preview > span[data-v-aaa4b19e] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-width: 120px;
  font: var(--font-body-1);
  color: var(--dark-80);
  flex: 1 1;
}
.items-list .items li .dictionary-preview .wathermark[data-v-aaa4b19e],
.items-list .items li .dictionary-preview img[data-v-aaa4b19e] {
  width: 46px;
  height: 46px;
}
.items-list .items li .dictionary-preview > span[data-v-aaa4b19e] {
  justify-content: space-between;
}
.items-list .items li .dictionary-preview .track-count[data-v-aaa4b19e] {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  align-items: baseline;
  font: var(--font-caption);
  margin-left: auto;
}
.items-list .items li .dictionary-preview .track-count svg[data-v-aaa4b19e] {
  fill: var(--white-500);
  stroke: none;
  width: 14px;
  height: 14px;
}
.items-list .items li .dictionary-preview .track-count span[data-v-aaa4b19e] {
  text-shadow: none;
}
.items-list .items.list li .dictionary-preview > span[data-v-aaa4b19e] {
  justify-content: space-between;
}
.items-list .items.list li .dictionary-preview .track-count[data-v-aaa4b19e] {
  margin-left: 0;
}
.items-list .items.list li .dictionary-preview .track-count svg[data-v-aaa4b19e] {
  fill: var(--dark-20);
}
.items-list .items.list li .dictionary-preview .track-count span[data-v-aaa4b19e] {
  color: var(--dark-20);
}
.items-list .items.dashboard[data-v-aaa4b19e] {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 4px;
}
.items-list .items.dashboard li[data-v-aaa4b19e] {
  padding: 4px;
  border-radius: 10px;
}
.items-list .items.dashboard li .dictionary-preview[data-v-aaa4b19e] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  padding: 0;
  font: var(--font-body-2);
  position: relative;
}
.items-list .items.dashboard li .dictionary-preview .wathermark[data-v-aaa4b19e],
.items-list .items.dashboard li .dictionary-preview img[data-v-aaa4b19e] {
  width: 142px;
  height: 142px;
  border-radius: 10px;
  transition: opacity 0.4s;
  border: solid 1px transparent;
}
.items-list .items.dashboard li .dictionary-preview > span[data-v-aaa4b19e] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font: var(--font-body-2);
  color: var(--dark-80);
}
.items-list .items.dashboard li .dictionary-preview:hover img[data-v-aaa4b19e] {
  opacity: 0.8;
}
.items-list .items.dashboard li.active[data-v-aaa4b19e] {
  box-shadow: 0px 0px 2px 0px var(--gray-80);
}
.items-list .items.dashboard li.active .dictionary-preview img[data-v-aaa4b19e] {
  border: solid 1px var(--primary-100);
}@keyframes fade-up-c802e951 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c802e951 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.loader[data-v-c802e951] {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
}
.loader > div[data-v-c802e951] {
  width: 120px;
  height: 40px;
  margin: auto;
}
.loader > div > div[data-v-c802e951] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.dictionary[data-v-c802e951] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dictionary .title[data-v-c802e951] {
  font: var(--font-h3);
  font-weight: bold;
  color: var(--dark-500);
}
.form-line[data-v-c802e951] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}
.form-line .image-preview[data-v-c802e951] {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: auto;
}
.form-line > label[data-v-c802e951] {
  min-width: 220px;
  max-width: 220px;
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-line > label .attention[data-v-c802e951] {
  font: var(--font-body-2);
  color: var(--dark-90);
}
.form-line > label.title[data-v-c802e951] {
  font: var(--font-h6);
  font-weight: bold;
}
.form-line > div.title[data-v-c802e951] {
  min-width: 220px;
  max-width: 220px;
}
.form-line > .toggler[data-v-c802e951] {
  min-width: 272px;
  max-width: 272px;
  padding-right: 8px;
}
.form-line > .box[data-v-c802e951] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1;
}
.form-line > .box > .box-row[data-v-c802e951] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1 1;
}
.form-line > .box > .box-row > .select-field[data-v-c802e951], .form-line > .box > .box-row > .autocomplete-field[data-v-c802e951], .form-line > .box > .box-row > .links-field[data-v-c802e951], .form-line > .box > .box-row > .field[data-v-c802e951] {
  flex: 1 1;
  max-width: var(--input-max-width);
}
.form-line > .box > .field[data-v-c802e951] {
  flex: 1 1;
}
.form-line > .box > .select-field[data-v-c802e951], .form-line > .box > .autocomplete-field[data-v-c802e951], .form-line > .box > .links-field[data-v-c802e951], .form-line > .box > .field[data-v-c802e951], .form-line > .box > .textarea[data-v-c802e951] {
  flex: 1 1;
}
.form-line > .box > .range[data-v-c802e951] {
  transform: translateY(-3px);
}
.form-line > .box .attention[data-v-c802e951] {
  font: var(--font-caption);
  color: var(--dark-80);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-line > .box .attention b[data-v-c802e951] {
  font: var(--font-body-2);
  font-weight: bold;
}
.form-line > .box .attention span[data-v-c802e951] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.form-line > .box .toggler[data-v-c802e951] {
  margin-right: auto;
}
.form-line > .select-field[data-v-c802e951], .form-line > .autocomplete-field[data-v-c802e951], .form-line > .links-field[data-v-c802e951], .form-line > .field[data-v-c802e951], .form-line > .textarea[data-v-c802e951] {
  flex: 1 1;
}
.form-line.column[data-v-c802e951] {
  flex-direction: column;
  gap: 12px;
  align-items: normal;
}
.form-line.divider[data-v-c802e951] {
  padding: 24px 0;
}
.form-line.divider[data-v-c802e951]:before {
  content: "";
  display: flex;
  flex: 1 1 100%;
  flex-shrink: 0;
  min-height: 1px;
  width: 100%;
  background-color: var(--light-20);
}
.form-line.align-center[data-v-c802e951] {
  align-items: center;
}
.form-line.view-mode-table[data-v-c802e951] {
  padding: 16px 8px;
}
.form-line.view-mode-table > .toggler[data-v-c802e951] {
  min-width: auto;
  max-width: none;
  padding: 0;
  margin: 7px auto 7px 0px;
}
.form-line.view-mode-table > .toggler > span[data-v-c802e951] {
  display: none;
}
.form-line .cover-preview[data-v-c802e951] {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}@keyframes fade-up-6e88e9b7 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-6e88e9b7 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-6e88e9b7] {
  display: flex;
  flex-direction: row;
  align-content: start;
  gap: 48px;
  padding: 0 0 0 48px;
  flex: 1 1 calc(100vh - 72px);
  height: 1vh;
}
.box .item-detail[data-v-6e88e9b7] {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 48px 24px 0;
  flex: 1 1 100%;
  overflow: auto;
}
@media (hover: hover) and (pointer: fine) {
.box .item-detail[data-v-6e88e9b7] {
    scrollbar-color: var(--dark-20) var(--white-10);
    scrollbar-width: thin;
}
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--white-10);
  border-radius: 20px;
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-track, .box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-corner {
  background-color: var(--white-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-thumb {
  background-color: var(--dark-20);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.box .item-detail[data-v-6e88e9b7]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.direction-rtl .box[data-v-6e88e9b7] {
  padding: 0 48px 0 0;
}