@keyframes fade-up-6f5809b5 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-6f5809b5 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.title-box[data-v-6f5809b5] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.title-box .field[data-v-6f5809b5] {
  flex: 1 1;
  max-width: var(--input-max-width);
}@keyframes fade-up-fe7365d9 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-fe7365d9 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.form-line.view-mode-table[data-v-fe7365d9] {
  padding: 0 8px;
}
.form-line.view-mode-table[data-v-fe7365d9]:first-child {
  padding-top: 16px;
}
.form-line.view-mode-table[data-v-fe7365d9]:last-child {
  padding-bottom: 16px;
}@keyframes fade-up-d8f999ee {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-d8f999ee {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.actions-box[data-v-d8f999ee] {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-right: 48px;
  padding-left: 48px;
  height: 100%;
  align-items: center;
  position: relative;
}
.actions-box > div[data-v-d8f999ee] {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
}
.actions-box .devider[data-v-d8f999ee] {
  height: 24px;
  flex-shrink: 0;
  width: 1px;
  background: var(--light-20);
}
.actions-box.detail[data-v-d8f999ee] {
  overflow: hidden;
}
.actions-box.detail[data-v-d8f999ee]:before {
  content: "";
  width: 120px;
  height: 100%;
  display: block;
  background: var(--primary-500);
  border-top-left-radius: 48px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.actions-box.detail[data-v-d8f999ee]:after {
  content: "";
  left: 64px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background: var(--primary-500);
  position: absolute;
  pointer-events: none;
  z-index: -1;
}
.actions-box.detail.secondary[data-v-d8f999ee]:before {
  background: var(--secondary-500);
}
.actions-box.detail.secondary[data-v-d8f999ee]:after {
  background: var(--secondary-500);
}
.actions-box.column[data-v-d8f999ee] {
  flex-direction: column;
  padding: 16px 8px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.actions-box.column[data-v-d8f999ee]:before {
  display: none;
}
.actions-box.column[data-v-d8f999ee]:after {
  left: 0;
}
.direction-rtl .actions-box.detail[data-v-d8f999ee]:before {
  border-top-left-radius: 0;
  border-top-right-radius: 48px;
  left: auto;
  right: 0;
}
.direction-rtl .actions-box.detail[data-v-d8f999ee]:after {
  left: 0;
  right: 64px;
}
.direction-rtl .actions-box.detail.column[data-v-d8f999ee]:after {
  right: 0;
}
div.loader[data-v-d8f999ee] {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
}
div.loader > div[data-v-d8f999ee] {
  width: 120px;
  height: 40px;
  margin: auto;
}
div.loader > div > div[data-v-d8f999ee] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
div.loader[data-v-d8f999ee] {
  min-height: 132px;
}
.errors[data-v-d8f999ee] {
  width: 18px;
  height: 18px;
  fill: var(--white-500);
  opacity: 0;
  pointer-events: none;
}
.errors.showed[data-v-d8f999ee] {
  opacity: 1;
  pointer-events: auto;
}
.release-info[data-v-d8f999ee] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.release-info .title[data-v-d8f999ee] {
  font: var(--font-h3);
  font-weight: bold;
  color: var(--dark-500);
}
.release-info.view-mode-table[data-v-d8f999ee] {
  flex-direction: row;
  gap: 0;
}
.release-info.view-mode-table .actions-box[data-v-d8f999ee] {
  width: 140px;
  box-shadow: -8px 0px 8px -12px var(--dark-500);
  z-index: 1;
  position: sticky;
  right: 0;
  flex-direction: column-reverse;
  justify-content: start;
  padding: 18px 8px;
}
.release-info.view-mode-table.updating[data-v-d8f999ee] {
  pointer-events: none;
  position: relative;
}
.release-info.view-mode-table.updating[data-v-d8f999ee]:after {
  content: "";
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, var(--gray-20) 25%, var(--white-500) 37%, var(--gray-20) 63%);
  background-size: 400% 100%;
  animation: loadingShimmer-d8f999ee 4s ease infinite;
  right: 0;
  bottom: 0;
}
@keyframes loadingShimmer-d8f999ee {
0% {
    background-position: 200% 0;
}
100% {
    background-position: -200% 0;
}
}
.release-info.view-mode-table.updating .actions-box[data-v-d8f999ee] {
  pointer-events: none;
}
.direction-rtl .release-info.view-mode-table .actions-box[data-v-d8f999ee] {
  right: auto;
  left: 0;
  box-shadow: 8px 0px 8px -12px var(--dark-500);
}@keyframes fade-up-c1905f21 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c1905f21 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-c1905f21] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
  padding-bottom: 24px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-c1905f21] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-c1905f21]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-track, .items-list[data-v-c1905f21]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-c1905f21]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .filters[data-v-c1905f21] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white-500);
}
.items-list .filters .field[data-v-c1905f21] {
  flex: 1 1;
}
.items-list .items[data-v-c1905f21] {
  display: flex;
  margin: 0;
  padding: 100px 0 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-c1905f21] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.items-list .items li > span[data-v-c1905f21] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items-list .items li.active[data-v-c1905f21] {
  background: var(--light-20);
}
.items-list .items li.active > span[data-v-c1905f21] {
  font-weight: bold;
}
.items-list .items li[data-v-c1905f21]:hover {
  background: var(--light-10);
}
.items-list .items li:hover > span[data-v-c1905f21] {
  font-weight: bold;
}
.items-list .loader[data-v-c1905f21] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-c1905f21] {
  flex-shrink: 0;
}
.items-list .items li[data-v-c1905f21] {
  padding: 8px;
}@keyframes fade-up-c1dbc95e {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c1dbc95e {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.title[data-v-c1dbc95e] {
  font: var(--font-h6);
  font-weight: bold;
  color: var(--dark-500);
}