@keyframes fade-up-4803083b {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-4803083b {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.roles-list[data-v-4803083b] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
}
.roles-list .items[data-v-4803083b] {
  display: flex;
  margin: 0;
  padding: 64px 0 0;
  list-style: none;
  flex-direction: column;
}
.roles-list .items li[data-v-4803083b] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.roles-list .items li > span[data-v-4803083b] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.roles-list .items li.active[data-v-4803083b] {
  background: var(--light-20);
}
.roles-list .items li.active > span[data-v-4803083b] {
  font-weight: bold;
}
.roles-list .items li[data-v-4803083b]:hover {
  background: var(--light-10);
}
.roles-list .items li:hover > span[data-v-4803083b] {
  font-weight: bold;
}
.roles-list .loader[data-v-4803083b] {
  margin: auto;
}@keyframes fade-up-1414fe98 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-1414fe98 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.role[data-v-1414fe98] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.role .title[data-v-1414fe98] {
  font: var(--font-h3);
  font-weight: bold;
  color: var(--dark-500);
}@keyframes fade-up-c248855e {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c248855e {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.user-option-preview[data-v-c248855e] {
  display: flex;
  gap: 8px;
  align-items: center;
}
.user-option-preview img[data-v-c248855e] {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
.user-option-preview .username[data-v-c248855e] {
  color: var(--dark-80);
}
.user-value-preview[data-v-c248855e] {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
  font: var(--font-body-2);
}
.user-value-preview img[data-v-c248855e] {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.user-value-preview > span[data-v-c248855e] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 120px;
}
.user-value-preview > span .name[data-v-c248855e] {
  font: var(--font-body-1);
}
.user-value-preview > span .username[data-v-c248855e] {
  color: var(--dark-80);
}@keyframes fade-up-f3ad2e0a {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-f3ad2e0a {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.users[data-v-f3ad2e0a] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.users .title[data-v-f3ad2e0a] {
  font: var(--font-h4);
  color: var(--dark-500);
}
.users .autocomplete-field[data-v-f3ad2e0a] {
  min-width: var(--input-max-width);
}
.loader[data-v-f3ad2e0a] {
  width: 120px;
  margin: auto;
  transform: translateY(-100%);
}@keyframes fade-up-c6883298 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c6883298 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-c6883298] {
  display: flex;
  flex-direction: row;
  align-content: start;
  gap: 48px;
  padding: 0 48px;
  flex: 1 1 100%;
}
.box .role-detail[data-v-c6883298] {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
  flex: 1 1 100%;
}