@keyframes fade-up-ad2402c0 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-ad2402c0 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.roles-list[data-v-ad2402c0] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
}
.roles-list .items[data-v-ad2402c0] {
  display: flex;
  margin: 0;
  padding: 64px 0 0;
  list-style: none;
  flex-direction: column;
}
.roles-list .items li[data-v-ad2402c0] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.roles-list .items li > span[data-v-ad2402c0] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.roles-list .items li.active[data-v-ad2402c0] {
  background: var(--light-20);
}
.roles-list .items li.active > span[data-v-ad2402c0] {
  font-weight: bold;
}
.roles-list .items li[data-v-ad2402c0]:hover {
  background: var(--light-10);
}
.roles-list .items li:hover > span[data-v-ad2402c0] {
  font-weight: bold;
}
.roles-list .loader[data-v-ad2402c0] {
  margin: auto;
}@keyframes fade-up-093724bb {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-093724bb {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.role[data-v-093724bb] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.role .title[data-v-093724bb] {
  font: var(--font-h3);
  font-weight: bold;
  color: var(--dark-500);
}@keyframes fade-up-641f32ef {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-641f32ef {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.user-option-preview[data-v-641f32ef] {
  display: flex;
  gap: 8px;
  align-items: center;
}
.user-option-preview img[data-v-641f32ef] {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
.user-option-preview .username[data-v-641f32ef] {
  color: var(--dark-80);
}
.user-value-preview[data-v-641f32ef] {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
  font: var(--font-body-2);
}
.user-value-preview img[data-v-641f32ef] {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.user-value-preview > span[data-v-641f32ef] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 120px;
}
.user-value-preview > span .name[data-v-641f32ef] {
  font: var(--font-body-1);
}
.user-value-preview > span .username[data-v-641f32ef] {
  color: var(--dark-80);
}@keyframes fade-up-4c5d581e {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-4c5d581e {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.users[data-v-4c5d581e] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.users .title[data-v-4c5d581e] {
  font: var(--font-h4);
  color: var(--dark-500);
}
.users .autocomplete-field[data-v-4c5d581e] {
  min-width: var(--input-max-width);
}
.loader[data-v-4c5d581e] {
  width: 120px;
  margin: auto;
  transform: translateY(-100%);
}@keyframes fade-up-7fb21210 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-7fb21210 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-7fb21210] {
  display: flex;
  flex-direction: row;
  align-content: start;
  gap: 48px;
  padding: 0 48px;
  flex: 1 1 100%;
}
.box .role-detail[data-v-7fb21210] {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
  flex: 1 1 100%;
}