@keyframes fade-up-1bbaf99f {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-1bbaf99f {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.item-preview[data-v-1bbaf99f] {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 8px 0;
  font: var(--font-body-2);
  width: 100%;
  flex-direction: column;
  gap: 8px;
}
.item-preview > div[data-v-1bbaf99f] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-width: 120px;
  font: var(--font-body-1);
  color: var(--dark-80);
  flex: 1 1;
  justify-content: space-between;
}
.item-preview > div .state[data-v-1bbaf99f] {
  margin-right: 0;
}
.item-preview > div .date[data-v-1bbaf99f] {
  font: var(--font-label);
  color: var(--dark-80);
}
.item-preview .wathermark[data-v-1bbaf99f],
.item-preview img[data-v-1bbaf99f] {
  width: 46px;
  height: 46px;
}@keyframes fade-up-d445899c {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-d445899c {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.item-preview[data-v-d445899c] {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
  font: var(--font-body-2);
  width: 100%;
}
.item-preview img[data-v-d445899c] {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  flex-shrink: 0;
}
.item-preview > div[data-v-d445899c] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.item-preview > div > div[data-v-d445899c] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-width: 120px;
  font: var(--font-body-1);
  color: var(--dark-80);
  flex: 1 1;
  justify-content: space-between;
}
.item-preview > div > div .state[data-v-d445899c] {
  margin-right: 0;
}
.item-preview > div > div .date[data-v-d445899c] {
  font: var(--font-label);
  color: var(--dark-80);
}
.item-preview .wathermark[data-v-d445899c],
.item-preview img[data-v-d445899c] {
  width: 46px;
  height: 46px;
}@keyframes fade-up-329b3c8c {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-329b3c8c {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.item-preview[data-v-329b3c8c] {
  min-width: 240px;
  padding: 0;
}
.trigger-box[data-v-329b3c8c] {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}@keyframes fade-up-79088a8a {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-79088a8a {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list .items[data-v-79088a8a] {
  padding: 0 0 0 32px !important;
  width: 100%;
}
.items-list .items li[data-v-79088a8a] {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 !important;
}
.items-list .items li > .row[data-v-79088a8a] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  min-height: 45px;
  padding: 0 8px;
  align-items: center;
}
.items-list .items li > .row button[data-v-79088a8a] {
  flex-shrink: 0;
}
.items-list .items li > .row .sort-button[data-v-79088a8a] {
  cursor: grab;
}
.items-list .items li > .row .item-preview[data-v-79088a8a] {
  padding-right: 8px;
}
.items-list .items li > .row.empty[data-v-79088a8a] {
  min-height: 38px;
  width: 100%;
  opacity: 0.4;
  padding-left: 52px;
}
.items-list .items li > .row.empty .autocomplete-field[data-v-79088a8a] {
  width: 100%;
}
.items-list .items li > .row.empty img[data-v-79088a8a] {
  width: 24px;
  height: 24px;
  border-radius: 8px;
}
.items-list .items li > .row.empty[data-v-79088a8a]:hover {
  opacity: 1;
}
.items-list .items li > .row[data-v-79088a8a]:hover {
  background: var(--light-10);
}
.items-list .items li.active > .row[data-v-79088a8a] {
  background: var(--light-20);
}@keyframes fade-up-3c335777 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-3c335777 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-3c335777] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
  padding-bottom: 24px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-3c335777] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-3c335777]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-3c335777]::-webkit-scrollbar-track, .items-list[data-v-3c335777]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-3c335777]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-3c335777]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-3c335777]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-3c335777]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-3c335777]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-3c335777]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .filters[data-v-3c335777] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white-500);
}
.items-list .filters .field[data-v-3c335777] {
  flex: 1 1;
}
.items-list .items[data-v-3c335777] {
  display: flex;
  margin: 0;
  padding: 100px 0 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-3c335777] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.items-list .items li > span[data-v-3c335777] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items-list .items li.active[data-v-3c335777] {
  background: var(--light-20);
}
.items-list .items li.active > span[data-v-3c335777] {
  font-weight: bold;
}
.items-list .items li[data-v-3c335777]:hover {
  background: var(--light-10);
}
.items-list .items li:hover > span[data-v-3c335777] {
  font-weight: bold;
}
.items-list .loader[data-v-3c335777] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-3c335777] {
  flex-shrink: 0;
}
.items-list[data-v-3c335777] {
  width: 600px;
  max-width: 45%;
}
.items-list .items li[data-v-3c335777] {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;
}
.items-list .items li > .row[data-v-3c335777] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  min-height: 45px;
  padding: 0 8px;
  align-items: start;
}
.items-list .items li > .row .sort-button[data-v-3c335777] {
  cursor: grab;
}
.items-list .items li > .row .item-preview[data-v-3c335777] {
  padding-right: 8px;
  padding-top: 10px;
}
.items-list .items li > .row.preview[data-v-3c335777] {
  align-items: center;
}@keyframes fade-up-c78bf7c3 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-c78bf7c3 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-c78bf7c3] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
  padding-bottom: 24px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-c78bf7c3] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-track, .items-list[data-v-c78bf7c3]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-c78bf7c3]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .filters[data-v-c78bf7c3] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white-500);
}
.items-list .filters .field[data-v-c78bf7c3] {
  flex: 1 1;
}
.items-list .items[data-v-c78bf7c3] {
  display: flex;
  margin: 0;
  padding: 100px 0 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-c78bf7c3] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.items-list .items li > span[data-v-c78bf7c3] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items-list .items li.active[data-v-c78bf7c3] {
  background: var(--light-20);
}
.items-list .items li.active > span[data-v-c78bf7c3] {
  font-weight: bold;
}
.items-list .items li[data-v-c78bf7c3]:hover {
  background: var(--light-10);
}
.items-list .items li:hover > span[data-v-c78bf7c3] {
  font-weight: bold;
}
.items-list .loader[data-v-c78bf7c3] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-c78bf7c3] {
  flex-shrink: 0;
}
.items-list[data-v-c78bf7c3] {
  width: 100%;
  max-width: none;
  border: none;
}
.items-list .items li[data-v-c78bf7c3] {
  padding: 8px;
}
.items-list .items li .sort-button[data-v-c78bf7c3] {
  margin-left: -6px;
  cursor: grab;
}@keyframes fade-up-e715f6e1 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-e715f6e1 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-e715f6e1] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
  padding-bottom: 24px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-e715f6e1] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-track, .items-list[data-v-e715f6e1]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-e715f6e1]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .filters[data-v-e715f6e1] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white-500);
}
.items-list .filters .field[data-v-e715f6e1] {
  flex: 1 1;
}
.items-list .items[data-v-e715f6e1] {
  display: flex;
  margin: 0;
  padding: 100px 0 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-e715f6e1] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.items-list .items li > span[data-v-e715f6e1] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items-list .items li.active[data-v-e715f6e1] {
  background: var(--light-20);
}
.items-list .items li.active > span[data-v-e715f6e1] {
  font-weight: bold;
}
.items-list .items li[data-v-e715f6e1]:hover {
  background: var(--light-10);
}
.items-list .items li:hover > span[data-v-e715f6e1] {
  font-weight: bold;
}
.items-list .loader[data-v-e715f6e1] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-e715f6e1] {
  flex-shrink: 0;
}@keyframes fade-up-adebb804 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-adebb804 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.loader[data-v-adebb804] {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
}
.loader > div[data-v-adebb804] {
  width: 120px;
  height: 40px;
  margin: auto;
}
.loader > div > div[data-v-adebb804] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.showcase-section-info[data-v-adebb804] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.showcase-section-info .title[data-v-adebb804] {
  font: var(--font-h3);
  font-weight: bold;
  color: var(--dark-500);
}
.form-line[data-v-adebb804] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}
.form-line .image-preview[data-v-adebb804] {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: auto;
}
.form-line > label[data-v-adebb804] {
  min-width: 220px;
  max-width: 220px;
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-line > label .attention[data-v-adebb804] {
  font: var(--font-body-2);
  color: var(--dark-90);
}
.form-line > label.title[data-v-adebb804] {
  font: var(--font-h6);
  font-weight: bold;
}
.form-line > div.title[data-v-adebb804] {
  min-width: 220px;
  max-width: 220px;
}
.form-line > .toggler[data-v-adebb804] {
  min-width: 272px;
  max-width: 272px;
  padding-right: 8px;
}
.form-line > .box[data-v-adebb804] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1;
}
.form-line > .box > .box-row[data-v-adebb804] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1 1;
}
.form-line > .box > .box-row > .select-field[data-v-adebb804], .form-line > .box > .box-row > .autocomplete-field[data-v-adebb804], .form-line > .box > .box-row > .links-field[data-v-adebb804], .form-line > .box > .box-row > .field[data-v-adebb804] {
  flex: 1 1;
  max-width: var(--input-max-width);
}
.form-line > .box > .field[data-v-adebb804] {
  flex: 1 1;
}
.form-line > .box > .select-field[data-v-adebb804], .form-line > .box > .autocomplete-field[data-v-adebb804], .form-line > .box > .links-field[data-v-adebb804], .form-line > .box > .field[data-v-adebb804], .form-line > .box > .textarea[data-v-adebb804] {
  flex: 1 1;
}
.form-line > .box > .range[data-v-adebb804] {
  transform: translateY(-3px);
}
.form-line > .box .attention[data-v-adebb804] {
  font: var(--font-caption);
  color: var(--dark-80);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-line > .box .attention b[data-v-adebb804] {
  font: var(--font-body-2);
  font-weight: bold;
}
.form-line > .box .attention span[data-v-adebb804] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.form-line > .box .toggler[data-v-adebb804] {
  margin-right: auto;
}
.form-line > .select-field[data-v-adebb804], .form-line > .autocomplete-field[data-v-adebb804], .form-line > .links-field[data-v-adebb804], .form-line > .field[data-v-adebb804], .form-line > .textarea[data-v-adebb804] {
  flex: 1 1;
}
.form-line.column[data-v-adebb804] {
  flex-direction: column;
  gap: 12px;
  align-items: normal;
}
.form-line.divider[data-v-adebb804] {
  padding: 24px 0;
}
.form-line.divider[data-v-adebb804]:before {
  content: "";
  display: flex;
  flex: 1 1 100%;
  flex-shrink: 0;
  min-height: 1px;
  width: 100%;
  background-color: var(--light-20);
}
.form-line.align-center[data-v-adebb804] {
  align-items: center;
}
.form-line.view-mode-table[data-v-adebb804] {
  padding: 16px 8px;
}
.form-line.view-mode-table > .toggler[data-v-adebb804] {
  min-width: auto;
  max-width: none;
  padding: 0;
  margin: 7px auto 7px 0px;
}
.form-line.view-mode-table > .toggler > span[data-v-adebb804] {
  display: none;
}@keyframes fade-up-48ab2c34 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-48ab2c34 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.items-list[data-v-48ab2c34] {
  width: 30%;
  max-width: 320px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--secondary-5);
  padding-bottom: 24px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (hover: hover) and (pointer: fine) {
.items-list[data-v-48ab2c34] {
    scrollbar-color: var(--dark-10) transparent;
    scrollbar-width: thin;
}
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 20px;
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-track, .items-list[data-v-48ab2c34]::-webkit-scrollbar-corner {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list[data-v-48ab2c34]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.items-list .filters[data-v-48ab2c34] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white-500);
}
.items-list .filters .field[data-v-48ab2c34] {
  flex: 1 1;
}
.items-list .items[data-v-48ab2c34] {
  display: flex;
  margin: 0;
  padding: 100px 0 0;
  list-style: none;
  flex-direction: column;
}
.items-list .items li[data-v-48ab2c34] {
  display: flex;
  min-height: 45px;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}
.items-list .items li > span[data-v-48ab2c34] {
  font: var(--font-body-1);
  color: var(--dark-500);
}
.items-list .items li.active[data-v-48ab2c34] {
  background: var(--light-20);
}
.items-list .items li.active > span[data-v-48ab2c34] {
  font-weight: bold;
}
.items-list .items li[data-v-48ab2c34]:hover {
  background: var(--light-10);
}
.items-list .items li:hover > span[data-v-48ab2c34] {
  font-weight: bold;
}
.items-list .loader[data-v-48ab2c34] {
  margin: auto;
  flex-shrink: 0;
}
.items-list button[data-v-48ab2c34] {
  flex-shrink: 0;
}@keyframes fade-up-38c7ae50 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-38c7ae50 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.loader[data-v-38c7ae50] {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
}
.loader > div[data-v-38c7ae50] {
  width: 120px;
  height: 40px;
  margin: auto;
}
.loader > div > div[data-v-38c7ae50] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.showcase-widget-info[data-v-38c7ae50] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.showcase-widget-info .title[data-v-38c7ae50] {
  font: var(--font-h3);
  font-weight: bold;
  color: var(--dark-500);
}
.form-line[data-v-38c7ae50] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}
.form-line .image-preview[data-v-38c7ae50] {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-right: auto;
}
.form-line > label[data-v-38c7ae50] {
  min-width: 220px;
  max-width: 220px;
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-500);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-line > label .attention[data-v-38c7ae50] {
  font: var(--font-body-2);
  color: var(--dark-90);
}
.form-line > label.title[data-v-38c7ae50] {
  font: var(--font-h6);
  font-weight: bold;
}
.form-line > div.title[data-v-38c7ae50] {
  min-width: 220px;
  max-width: 220px;
}
.form-line > .toggler[data-v-38c7ae50] {
  min-width: 272px;
  max-width: 272px;
  padding-right: 8px;
}
.form-line > .box[data-v-38c7ae50] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1;
}
.form-line > .box > .box-row[data-v-38c7ae50] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1 1;
}
.form-line > .box > .box-row > .select-field[data-v-38c7ae50], .form-line > .box > .box-row > .autocomplete-field[data-v-38c7ae50], .form-line > .box > .box-row > .links-field[data-v-38c7ae50], .form-line > .box > .box-row > .field[data-v-38c7ae50] {
  flex: 1 1;
  max-width: var(--input-max-width);
}
.form-line > .box > .field[data-v-38c7ae50] {
  flex: 1 1;
}
.form-line > .box > .select-field[data-v-38c7ae50], .form-line > .box > .autocomplete-field[data-v-38c7ae50], .form-line > .box > .links-field[data-v-38c7ae50], .form-line > .box > .field[data-v-38c7ae50], .form-line > .box > .textarea[data-v-38c7ae50] {
  flex: 1 1;
}
.form-line > .box > .range[data-v-38c7ae50] {
  transform: translateY(-3px);
}
.form-line > .box .attention[data-v-38c7ae50] {
  font: var(--font-caption);
  color: var(--dark-80);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-line > .box .attention b[data-v-38c7ae50] {
  font: var(--font-body-2);
  font-weight: bold;
}
.form-line > .box .attention span[data-v-38c7ae50] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.form-line > .box .toggler[data-v-38c7ae50] {
  margin-right: auto;
}
.form-line > .select-field[data-v-38c7ae50], .form-line > .autocomplete-field[data-v-38c7ae50], .form-line > .links-field[data-v-38c7ae50], .form-line > .field[data-v-38c7ae50], .form-line > .textarea[data-v-38c7ae50] {
  flex: 1 1;
}
.form-line.column[data-v-38c7ae50] {
  flex-direction: column;
  gap: 12px;
  align-items: normal;
}
.form-line.divider[data-v-38c7ae50] {
  padding: 24px 0;
}
.form-line.divider[data-v-38c7ae50]:before {
  content: "";
  display: flex;
  flex: 1 1 100%;
  flex-shrink: 0;
  min-height: 1px;
  width: 100%;
  background-color: var(--light-20);
}
.form-line.align-center[data-v-38c7ae50] {
  align-items: center;
}
.form-line.view-mode-table[data-v-38c7ae50] {
  padding: 16px 8px;
}
.form-line.view-mode-table > .toggler[data-v-38c7ae50] {
  min-width: auto;
  max-width: none;
  padding: 0;
  margin: 7px auto 7px 0px;
}
.form-line.view-mode-table > .toggler > span[data-v-38c7ae50] {
  display: none;
}
.form-line .img-box[data-v-38c7ae50] {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}@keyframes fade-up-a3e08608 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes fade-center-a3e08608 {
0% {
    opacity: 0;
    filter: blur(4px);
}
100% {
    opacity: 1;
    filter: blur(0);
}
}
.box[data-v-a3e08608] {
  display: flex;
  flex-direction: row;
  align-content: start;
  gap: 48px;
  padding: 0 0 0 48px;
  flex: 1 1 calc(100vh - 72px);
  height: 1vh;
}
.box .item-detail[data-v-a3e08608] {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 48px 24px 0;
  flex: 1 1 100%;
  overflow: auto;
}
@media (hover: hover) and (pointer: fine) {
.box .item-detail[data-v-a3e08608] {
    scrollbar-color: var(--dark-20) var(--white-10);
    scrollbar-width: thin;
}
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--white-10);
  border-radius: 20px;
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-track, .box .item-detail[data-v-a3e08608]::-webkit-scrollbar-corner {
  background-color: var(--white-10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-thumb {
  background-color: var(--dark-20);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-500);
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.box .item-detail[data-v-a3e08608]::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
  background: transparent;
}
.direction-rtl .box[data-v-a3e08608] {
  padding: 0 48px 0 0;
}
.header[data-v-a3e08608] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}
.header .title[data-v-a3e08608] {
  font: var(--font-h4);
  font-weight: bold;
  color: var(--dark-500);
}